@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using SvidMed.Common
@using SvidMed.Data.Models
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    @await this.RenderSectionAsync("Styles", required: false)
</head>
<body>
    @RenderSection("head", required: false)
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark navbar-svid  mb-3">
            <div class="container">

                <a class="navbar-brand brand-svid" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Doctor" asp-action="All" asp-route-id="1">Перегляд лікарів</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                            var user = await UserManager.FindByIdAsync(userId);

                            @*@if (User.Identity.IsAuthenticated && !(User.IsInRole(GlobalConstants.PatientRoleName) || User.IsInRole(GlobalConstants.DoctorRoleName)))*@
                            if (!(await UserManager.IsInRoleAsync(user, GlobalConstants.PatientRoleName) || await UserManager.IsInRoleAsync(user, GlobalConstants.DoctorRoleName)))
                            {
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Finish your profile
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" asp-area="" asp-controller="Doctor" asp-action="Apply">Стати лікарем</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Patient" asp-action="Create">Стати пацієнтом</a>
                                    </div>
                                </div>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3 main-back">
            @RenderBody()
        
        </main>
    </div>

    <footer class="footer bg-info ">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - Designed by <a href="mailto:ihor.svidruk.19@pnu.edu.ua">Ihor Svidruk</a>
            <!-- - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - <a asp-area="" asp-controller="Home" asp-action="Contact">Contacts</a> -->
            
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
